<div class="row">
  <div class="col-md-6 mx-auto">
      <h1><strong> City:</strong>{{weather.city.name}}</h1>
      <h3>longitude:{{weather.city.coord.lon}}</h3>
      <h3>longitude:{{weather.city.coord.lat}}</h3>
      <h3><strong>Temp</strong>:{{weather.list[0].main.temp-273.15  | number : '1.2-2'}}&#8451;</h3>
      <h3><strong>tempMax:</strong>{{weather.list[0].main.temp_max-273.15  | number : '1.2-2'}}&#8451;  </h3>
      <h3><strong>tempMin: </strong>{{weather.list[0].main.temp_min-273.15  | number : '1.2-2'}}&#8451;</h3>
      <h3> <strong>The weather description:</strong> {{weather.list[0].weather[0].description}}</h3>
      <h3> <strong>humidity :</strong>{{weather.list[0].main.humidity}}</h3>
  </div>
  <div class="col-md-6">
      <img src="assets/weather.jpg" class="img-fluid">
  </div>
</div>
